fastapi==0.116.1
uvicorn[standard]==0.35.0

sqlalchemy==2.0.43
psycopg2-binary==2.9.10

pydantic==2.11.7
pydantic-settings==2.10.1

python-multipart==0.0.20

pandas==2.3.1
openpyxl==3.1.5

python-dotenv==1.1.1
